body {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 70px;
    color: #fff;
    width: 100%;
}

.form {
    padding-left: 10px;
}

.wrapper h2 {
    text-transform: lowercase!important;
    writing-mode: vertical-rl
}