body {
    width: 100%!important;
    position: relative;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: #fff;
}

/* .form {
    width: 100%;
} */

h2 {
    text-transform: lowercase!important;
    writing-mode: vertical-rl
}