body {
    position: relative;
    display: flex;
    justify-content: center;
}

.page {
    width: 100%;
}

.container {
    padding: 20px 20px 20px 20px;
    color: #fff;
}

.form {
    width: 100%;
}

h2 {
    text-transform: lowercase!important;
    writing-mode: vertical-rl
}